.header {
    background-color: #000;
}

.header__inner {
    max-width: 1540px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 0 auto;
    align-items: center;
}

.search-form__input {
    width: 350px;
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
}

.auth-user__function {
    display: flex;
    align-items: center;
}

.logout__btn,
.login__btn,
.mypage__btn {
    border: none;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    margin-right: 20px;
}

.logout__btn {
    background-color: #000;
    cursor: pointer;
}

.sell-items__btn {
    display: inline-block;
    background-color: #fff;
    text-decoration: none;
    color: #000;
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
}

.content {
    max-width: 1540px;
}

/* ユーザー登録・ログイン・住所変更ページ */

.user-form {
    width: 680px;
    margin: 0 auto;
}

.user-form__item {
    width: 100%;
    margin-bottom: 30px;
}

.user-form__label {
    font-size: 18px;
    font-weight: bold;
}

.user-form__input {
    width: 680px;
    padding: 10px;
    margin-top: 5px;
}

.submit-btn {
    width: 100%;
    background-color: rgb(255, 85, 85);
    font-size: 18px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.user-form__link {
    margin-top: 30px;
    text-align: center;
}

.error {
    color: red;
    margin-top: 5px;
}