.content {
    display: flex;
    justify-content: center;
    padding: 60px 80px;
}

.item-image__wrapper {
    width: 40%;
    padding: 20px;
}

.item-image {
    width: 90%;
    height: 450px;
    object-fit: cover;
    object-position: center;
}

.item-info__wrapper {
    width: 40%;
}

.item-info {
    margin-bottom: 24px;
}

.item-name {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

.item-price {
    font-size: 32px;
}

.yen, .tax {
    font-size: 24px;
}

.likes-comments__icons {
    display: flex;
    padding: 0 40px;
}

.like-btn {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.like-icon {
    width: 30px;
    margin-right: 60px;
}

.like-icon__img {
    width: 100%;
}

.comment-icon {
    width: 30px;
}

.comment-icon__img {
    width: 100%;
}

.count {
    text-align: center;
}

.purchase__btn {
    display: block;
    text-align: center;
    background-color: rgb(255, 85, 85);
    font-size: 18px;
    color: white;
    font-weight: bold;
    padding: 10px;
    margin: 20px 0;
}

.ttl {
    font-size: 24px;
    margin-bottom: 15px;
}

.small-ttl {
    margin-right: 30px;
}

.category, .condition {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.category__name {
    background-color: rgb(226, 226, 226);
    font-size: 14px;
    padding: 5px 15px;
    border-radius: 20px;
    margin-right: 10px;
}

.item-comments {
    margin-bottom: 40px;
}

.comment-counter {
    margin-bottom: 15px;
}

.user-info {
    display: flex;
    align-items: center;
    margin: 25px 0 10px;
}

.user-image__wrapper {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
}

.user-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.user-name {
    font-weight: bold;
    font-size: 18px;
}

.comment-content {
    background: rgb(226, 226, 226);
    padding: 15px;
    border-radius: 3px;
}

.no-comment {
    padding-left: 15px;
}

.form-label {
    font-weight: bold;
    margin-bottom: 5px;
}

.comment__text {
    width: 100%;
    padding: 10px;
}

.comment__btn--submit {
    border: none;
    width: 100%;
    background-color: rgb(255, 85, 85);
    font-size: 18px;
    color: white;
    font-weight: bold;
    padding: 5px;
    margin-top: 20px;
}