.content {
    max-width: 1540px;
    display: flex;
    justify-content: center;
    padding: 60px;
}

.item-image__wrapper {
    width: 40%;
    padding: 20px;
}

.item-image {
    width: 90%;
}

.item-info__wrapper {
    width: 40%;
}

.item-info {
    margin-bottom: 30px;
}

.item-name {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

.item-price {
    font-size: 32px;
}

.yen, .tax {
    font-size: 24px;
}

.purchase__btn {
    display: block;
    text-align: center;
    background-color: rgb(255, 85, 85);
    font-size: 18px;
    color: white;
    font-weight: bold;
    padding: 10px;
    margin: 20px 0;
}

.ttl {
    font-size: 20px;
    margin-bottom: 15px;
}

.small-ttl {
    margin-right: 30px;
}

.category, .condition {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.category__name {
    background-color: lightgray;
    font-size: 14px;
    padding: 5px 15px;
    border-radius: 20px;
    margin-right: 10px;
}

.item-comments {
    margin-bottom: 40px;
}

.comment__label {
    font-weight: bold;
    margin-bottom: 5px;
}

.comment__text {
    width: 100%;
    margin-bottom: 20px;
}

.comment__btn--submit {
    border: none;
    width: 100%;
    background-color: rgb(255, 85, 85);
    font-size: 18px;
    color: white;
    font-weight: bold;
    padding: 5px;
}