.profile {
    display: flex;
    align-items: center;
    width: 70%;
    margin: 60px auto;
}

.profile-image__wrapper {
    width: 100px;
    margin-right: 50px;
}

.profile-image {
    width: 100%;
}

.user-name {
    font-size: 28px;
}

.edit-btn--link {
    height: 20px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(255, 85, 85);
    text-align: center;
    border: 2px solid rgb(255, 85, 85);
    border-radius: 5px;
    padding: 10px 25px;
    margin-left: 100px;
}

/* タブ */
.tabs {
    border-bottom: 1px solid #000;
    padding-left: 100px;
}

.tab-content {
    display: flex;
    flex-wrap: wrap;
    gap: 60px 40px;
    padding: 50px 60px;
    margin: 0 auto;
}

.sell-tab,
.buy-tab {
    display: inline-block;
    color: #000;
    background: transparent;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 10px;
    margin-right: 30px;
    cursor: pointer;
}

.tabs .active {
    color: rgb(255, 85, 85);
}

