.profile {
    display: flex;
    align-items: center;
    width: 70%;
    margin: 60px auto;
}

.profile-image__wrapper {
    width: 100px;
    margin-right: 50px;
}

.profile-image {
    width: 100%;
}

.user-name {
    font-size: 28px;
}

.edit-btn--link {
    height: 20px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(255, 85, 85);
    text-align: center;
    border: 2px solid rgb(255, 85, 85);
    border-radius: 5px;
    padding: 10px 25px;
    margin-left: 100px;
}

